dist/
cache/
.music-cache/
build/
third_party/
.emsdk-cache/
*.wad
*.pak
*.PAK
*.zip
*.exe
wad/
data/
!games/quake/vendor/
.DS_Store
node_modules/
third_party/web-doom/dist/
third_party/web-doom/build/
third_party/web-doom/wad/
third_party/quake/dist/
third_party/quake/build/
third_party/quake/data/
third_party/qwasm2/release/
third_party/qwasm2/build/
third_party/qwasm2/wasm/baseq2/pak0.pak
